// Color
$background-dark-blue: #293846;
$background-blue: #2F4050;
$background-light-gray: #F3F3F4;

$green-default: #1AB394;
$blue-default: #1C84C6;
$light-blue-default: #23C6C8;
$orange-default: #F8AC59;
$red-default: #ED5565;
$light-gray-default: #F5F5F5;
$gray-default: #A7B1C2;
$semi-dark-gray-default: #999C9E;
$dark-gray-default: #484B4F;

// Font Family
$font-default: Roboto, sans-serif;

// Font Size
$h1-font-size: 26px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$body1-font-size: 13px;
$body2-font-size: 12px;
$footer-font-size: 10px;

// Font Weight
$bold: 700;
$semi-bold: 500;